.home .left-menu {
  width: 180px;
  height: 100%;
  position: fixed;
}
.home .left-menu .ant-menu {
  height: 100%;
}
.home .content {
  margin-left: 180px;
  transition: all 0.3s;
}
.home .content.fold-content {
  margin-left: 80px;
}
.home .content .header-nav {
  position: relative;
  height: 50px;
  line-height: 50px;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 1px solid #eee;
}
.home .content .header-nav .ant-breadcrumb {
  display: inline-block;
  margin-left: 17px;
}
.home .content .header-nav .user {
  position: absolute;
  right: 10px;
  top: 0px;
  z-index: 9;
  cursor: pointer;
  text-align: center;
}
.home .content .header-nav .user li {
  padding-left: 30px;
  padding-right: 30px;
}
.home .content .header-nav .user li:nth-of-type(2) {
  display: none;
}
.home .content .header-nav .user li:nth-of-type(2):hover {
  background-color: #eee;
}
.home .content .header-nav .user:hover li {
  display: block;
}
